* {
    box-sizing: border-box;
}

body {
    background-image: url('./desk.jpeg');
    /*background-repeat: no-repeat;*/
    background-size: 100%, 100%;
}

.nav_nav {
    
    background-color: rgb(92, 92, 92);

    font-size: 2vw;
    border-width: 1px 1px 0 1px;
    border-top: 2px solid black;
    border-right:  2px solid black;
    border-left:   2px solid black;
    border-radius: 1cm;
    width: 50%;
    height: 10%;
    margin-left: 42%;
    margin-top: 3%;

   /* display: inline-flex; */

    animation: nav_bar 500ms;
    
}

.nav_logo {
    display: inline-flex;
    width: 100%;
}
.poz_logo {
    max-width: 10%;
    max-height: 10%;
    animation: pozz 800ms ease-in-out;
}


@keyframes pozz {
    from {
        opacity: 0%;
        margin-top: 0%;
        width: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }
    to {
        opacity: 100%;
        width: 50%;
    }
}

@keyframes nav_bar {
    from {
        opacity: 0%;
        margin-top: 0%;
        width: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }
    to {
        opacity: 100%;
        margin-top: 3%;
        width: 50%;
    }
}

.navi{
    
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 5px #999;
}

.div_nav {
    margin-left: 12%;
    display: inline-flex;
}

.navi:active {
    transform: translateY(1%);
    box-shadow: 0 2px #999;
    background-color: brown;
}

.nav_home {
    margin-top: 8%;
    font-size: 4vw;
    
}

.harta {
    margin-top: 5%;
    margin-left: 1.5%;
    display: inline-flex;
    grid-template-columns: repeat(3);
    
}

 iframe {
    width: 32vw;
    height: 32vw;
    border: 0;
}


.date_contact {
    text-align: center;
    padding: 5%;
    width: 32vw;
    height: 32vw;
    color: rgb(173, 136, 214);
    border: 1px solid black;
    background-color: rgb(255, 246, 233);
    font-size: 1.3vw;
}

.mesaj {
    text-align: center;
    width: 32vw;
    height: 32vw;
    border: 1px solid black;
    background-color: rgb(255, 246, 233);
    color: rgb(173, 136, 214);
}

#nume, #email, #tel{
    width: 20vw;
    height: 2vw;
    margin-bottom: 5%;
    border-radius: 1cm;
    border: 0;
}

#msj {
    width: 20vw;
    height: 10vw;
    margin-bottom: 2%;
    border: 0;
}